<template>
  <div class="home">
    <h1>KOJI Vue Typescript Starter Template</h1>
    <HelloWorld msg="Use the KOJI editor to modify this text and start building awesome things !"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
    HelloWorld,
  },
})
export default class Home extends Vue {}
</script>
